<ul class="nav navbar-nav side-nav">
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#CMSPages"><i class="fa fa-caret-square-o-down"></i> Pages <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="CMSPages" class="collapse">
            <li>
                <a href="/CMSPages/Create/">Add Page</a>
            </li>
            <li>
                <a href="/CMSPages/Index/">Manage Pages</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#News"><i class="fa fa-caret-square-o-down"></i> Announcement <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="News" class="collapse">
            <li>
                <a href="/News/Create/">Add Announcement</a>
            </li>
            <li>
                <a href="/News/Index/">Manage Announcements</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#Users"><i class="fa fa-caret-square-o-down"></i> Users <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="Users" class="collapse">
            <li>
                <a href="/Account/CreateAccount/">Add User</a>
            </li>
            <li>
                <a href="/Account/ManageUsers/">Manage Users</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#TrainingBases"><i class="fa fa-caret-square-o-down"></i> Bases <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="TrainingBases" class="collapse">
            <li>
                <a href="/TrainingBases/Create/">Add Base</a>
            </li>
            <li>
                <a href="/TrainingBases/Index/">Manage Bases</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#Courses"><i class="fa fa-caret-square-o-down"></i> Courses <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="Courses" class="collapse">
            <li>
                <a href="/Courses/Create/">Add Course</a>
            </li>
            <li>
                <a href="/Courses/Index/">Manage Courses</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#Classes"><i class="fa fa-caret-square-o-down"></i> Classes <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="Classes" class="collapse">
            <li>
                <a href="/CourseClasses/Create/">Add Class</a>
            </li>
            <li>
                <a href="/CourseClasses/Index/">Manage Classes</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#Attachments"><i class="fa fa-caret-square-o-down"></i> Attachments <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="Attachments" class="collapse">
            <li>
                <a href="/Attachments/Create/">Add Attachment</a>
            </li>
            <li>
                <a href="/Attachments/Index/">Manage Attachments</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#Evaluation"><i class="fa fa-caret-square-o-down"></i> Evaluation Types <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="Evaluation" class="collapse">
            <li>
                <a href="/EvaluationTypes/Create/">Add Evaluation Type</a>
            </li>
            <li>
                <a href="/EvaluationTypes/Index/">Manage Evaluation Types</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#Reports"><i class="fa fa-caret-square-o-down"></i> Reports <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="Reports" class="collapse">
            <li>
                <a href="/Reports/ListOfUsers/">List of Users</a>
            </li>
            <li>
                <a href="/Reports/ListOfBases/">List of Bases</a>
            </li>
            <li>
                <a href="/Reports/ListOfCourses/">List of Courses</a>
            </li>
            <li>
                <a href="/Reports/ClassSchedule/">Class Schedule Details</a>
            </li>
        </ul>
    </li>
</ul>
